<div class="form-title" style="margin-top:100px">Login</div>
<div class="line">
	<div class="block">
		<input type="text" placeholder="Login">
	</div>
</div>
<div class="line">
	<div class="block">
		<input type="password" placeholder="Senha">
	</div>
</div>
<div class="line" style="text-align: right;">
	<div class="block">
		<input type="button" value="Login" id="login">
	</div>
</div>
<div class="line" style="margin-top: 60px">
	<div class="block">
		<div class="ext-login fb" unselectable="true">
			<img src="./temp/img/fb.png" width="24">
			<div class="text">Login with Facebook</div>
		</div>
	</div>
</div>