<div class="line" style="margin-top: 20px">
	<div class="block">
		<div class="title">Título do passeio</div>
		<input type="text" placeholder="Ex. Passeio nas Cataratas">
	</div>
</div>
<div class="line" style="margin-top: 10px">
	<div class="block">
		<div class="title">Descrição</div>
		<textarea></textarea>
	</div>
</div>
<div class="line" style="margin-top: 10px">
	<div class="block">
		<div class="title">Início</div>
		<input type="text" class="half">
	</div>
	<div class="block">
		<div class="title">Fim</div>
		<input type="text" class="half">
	</div>
</div>
<div class="line" style="margin-top: 10px">
	<div class="block">
		<div class="title">País</div>
		<select>
			<option>Brasil</option>
		</select>
	</div>
	<div class="block">
		<div class="title">Estado</div>
		<select style="width: 60px;">
			<option>PR</option>
		</select>
	</div>
	<div class="block">
		<div class="title">Cidade</div>
		<select>
			<option>Foz do Iguaçu</option>
		</select>
	</div>
</div>
<div>
	<div class="block">
		<div class="title">Complemento</div>
		<input type="text">
	</div>
</div>
<div>
	<div class="block">
		<div class="title">Tags</div>
		<div id="wrapTags"></div>
	</div>
</div>
<div>
	<div class="block" style="text-align: right; width: 252px; margin-top: 20px;">
		<input type="button" value="Enviar">
	</div>
</div>
